.card-robot {
  .place {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    &-1 {
      font-size: 3.5rem;
      font-style: italic;
      font-weight: bold;
      color: #008000;
    }
    &-2 {
      font-size: 3.25rem;
      font-style: italic;
      font-weight: bold;
      color: #0086009c;
    }
    &-3 {
      font-size: 3rem;
      font-style: italic;
      font-weight: bold;
      color: #54b954bd;
    }
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    .robot-name {
      background: url('/images/robot.svg') no-repeat center center;
      background-size: contain;
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        padding: 10px 0 0 80px;
        font-style: italic;
      }
    }
  }
  input, button {
    font-size: 1.5rem;
    line-height: 1;
  }
  .laps {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .serial {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
}