$border: 1px solid #eeeeee;

.race-table {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: $border;
  width: 100%;
  .race-table-body,
  .race-table-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    .race-table-row {
      width: 100%;
      display: flex;
      align-items: stretch;
      border-bottom: $border;
      .race-table-cell {
        box-sizing: border-box;
        flex-grow: 1;
        padding: 0.8rem .5rem;
        border-right: $border;
        &:last-child {
          border-right: none;
        }
        &.num {
          width: 20%;
          max-width: 150px;
          background: green;
        }
        &.name {
          width: 360px;
          min-width: 330px;
        }
        &.serial {
          width: 80px;
          min-width: 75px;
        }
        &.place {
          min-width: 110px;
          width: 120px;
          max-width: 120px;
        }
        &.laps {
          min-width: 65px;
          width: 170px;
          max-width: 170px;
        }
        &.time {
          width: 20%;
          max-width: 300px;
          min-width: 250px;
          margin-bottom: 0px;
          margin-top: 0px;
          div {
            .line {
              margin-bottom: 0px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
  .race-table-header {
    .race-table-row {
      .race-table-cell {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  .race-table-body {
    &.race-table-empty {
      padding: 1rem;
      div {
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyBjbGFzcz0iaWNvbiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCAxMTk0IDEwMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAzOS4zNiAzNjYuOTMzMzMzYzExLjk0NjY2NyAyMy44OTMzMzMtMTUuMzYtNDAuOTYtNjMuMTQ2NjY3LTQwLjk2SDIyMC4xNmMtMjkuMDEzMzMzIDAtNDcuNzg2NjY3IDEzLjY1MzMzMy02NC44NTMzMzMgMzkuMjUzMzM0QzEzOC4yNCAzOTAuODI2NjY3IDAgNjA1Ljg2NjY2NyAwIDY1MC4yNHYyOTAuMTMzMzMzYzAgNDYuMDggMzcuNTQ2NjY3IDgxLjkyIDgxLjkyIDgxLjkyaDEwMjkuMTJjNDYuMDggMCA4MS45Mi0zNS44NCA4MS45Mi04MS45MnYtMjkwLjEzMzMzM2MwLTQ0LjM3MzMzMy0xNTMuNi0yODMuMzA2NjY3LTE1My42LTI4My4zMDY2NjdzLTIyLjE4NjY2Ny00MC45NiAwIDB6TTc2OCA2MjguMDUzMzMzYy0xOC43NzMzMzMtMS43MDY2NjctMzQuMTMzMzMzIDEwLjI0LTM5LjI1MzMzMyAyOS4wMTMzMzR2Ni44MjY2NjZjMCA3My4zODY2NjctNTkuNzMzMzMzIDEzNC44MjY2NjctMTMzLjEyIDEzNC44MjY2NjdzLTEzMy4xMi01OS43MzMzMzMtMTMzLjEyLTEzNC44MjY2Njd2LTguNTMzMzMzYy0xMC4yNC0yNy4zMDY2NjctMzcuNTQ2NjY3LTI3LjMwNjY2Ny0zNy41NDY2NjctMjcuMzA2NjY3SDcxLjY4bDExOS40NjY2NjctMjIxLjg2NjY2NnMyMi4xODY2NjctMzkuMjUzMzMzIDUyLjkwNjY2Ni0zOS4yNTMzMzRoNzEzLjM4NjY2N2MyNS42IDAgMjkuMDEzMzMzIDguNTMzMzMzIDQ3Ljc4NjY2NyAzOS4yNTMzMzRsMTIxLjE3MzMzMyAyMjEuODY2NjY2SDc2OHpNMzM5LjYyNjY2NyAyMDkuOTJsLTkwLjQ1MzMzNC04Ny4wNGMtMTAuMjQtOC41MzMzMzMtMTAuMjQtMjUuNi0xLjcwNjY2Ni0zNC4xMzMzMzMgOC41MzMzMzMtMTAuMjQgMjMuODkzMzMzLTEwLjI0IDM0LjEzMzMzMy0xLjcwNjY2N2w5MC40NTMzMzMgODcuMDRjMTAuMjQgOC41MzMzMzMgMTAuMjQgMjMuODkzMzMzIDEuNzA2NjY3IDM0LjEzMzMzMy0xMC4yNCAxMC4yNC0yNS42IDEwLjI0LTM0LjEzMzMzMyAxLjcwNjY2N3pNNTg4LjggMTcwLjY2NjY2N2MtNS4xMi01LjEyLTYuODI2NjY3LTEwLjI0LTYuODI2NjY3LTE3LjA2NjY2N2wtMy40MTMzMzMtMTI2LjI5MzMzM2MwLTEzLjY1MzMzMyAxMC4yNC0yMy44OTMzMzMgMjMuODkzMzMzLTI1LjZzMjMuODkzMzMzIDEwLjI0IDI1LjYgMjMuODkzMzMzbDMuNDEzMzM0IDEyNi4yOTMzMzNjMCAxMC4yNC01LjEyIDE4Ljc3MzMzMy0xMy42NTMzMzQgMjIuMTg2NjY3LTEwLjI0IDUuMTItMjAuNDggMy40MTMzMzMtMjkuMDEzMzMzLTMuNDEzMzMzeiBtMjM3LjIyNjY2NyAzNC4xMzMzMzNjLTUuMTItNS4xMi02LjgyNjY2Ny0xMC4yNC02LjgyNjY2Ny0xNy4wNjY2NjdzMS43MDY2NjctMTEuOTQ2NjY3IDYuODI2NjY3LTE3LjA2NjY2Nmw4Ny4wNC05Mi4xNmM4LjUzMzMzMy0xMC4yNCAyMy44OTMzMzMtMTAuMjQgMzQuMTMzMzMzLTEuNzA2NjY3IDEwLjI0IDguNTMzMzMzIDEwLjI0IDI1LjYgMS43MDY2NjcgMzQuMTMzMzMzbC04Ny4wNCA5MC40NTMzMzRjLTUuMTIgNS4xMi0xMC4yNCA2LjgyNjY2Ny0xNy4wNjY2NjcgNi44MjY2NjZzLTE1LjM2IDEuNzA2NjY3LTE4Ljc3MzMzMy0zLjQxMzMzM3oiIGZpbGw9IiNDNUM1QzUiIC8+PC9zdmc+') no-repeat center center;
        background-size: contain;
        height: 100px;
        width: 100%;
      }
    }
    .race-table-row {
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .race-table {
    .race-table-header {
      display: none;
    }
    .race-table-body {
      .race-table-row {
        .race-table-cell {
          border-right: none;
          &.place {
            padding: 0.5rem;
            min-width: 70px;
            width: 70px;
            flex: 0 1 auto;
          }
          &.laps {
            flex: 0 1 auto;
          }
          &.name {
            flex: 1 1 calc(100% - 70px);
            width: 285px;
            min-width: 285px;
          }
          &.serial {
            flex: 1 1 calc(100% - 70px);
            width: 285px;
            min-width: 285px;
            justify-content: flex-start;
          }
        }
      }
    }
    .card-robot {
      flex-wrap: wrap;
    }
  }
  .beta {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .race-table {
    margin: 0 -10px;
    width: auto;
    border-radius: 0;
  }
}